.modal {

  &__wrapper {
  }

  &__window {
    width: 48rem;
    padding: 5rem;

    border-radius: 0.5rem;

    @include breakpoint(tablet) {
      padding: 2rem;
    }

    @media screen and (max-width: 520px) {
      width: calc(100% - 4rem);
    }
  }

  &__close {
    position: absolute;
    top: 1.6rem;
    right: 2rem;

    svg {
      width: 1.8rem;
      height: 1.8rem;

      fill: $grayscale-900;
    }

    &:hover {
      svg {
        fill: $primary-300;
      }
    }

    &:focus {
      box-shadow: none;
    }
  }

  &__title {
    margin-bottom: 2rem;
    width: calc(100% - 4rem);

    @extend %fs-h2;
  }

  .old-form__input,
  .old-form__textarea {
    border-color: #DADCDF;

    &:hover {
      border-color: $primary-300;
    }
  }
}