.integration {
  position: relative;

  background-color: #004773;
  color: white;

  &--ozon {
    background: linear-gradient(to left, #0069FF 16%, #174F77 100%);
  }

  &--yandex {
    background: linear-gradient(to left, #209F66 16%, #174F77 100%);
  }

  &--wb {
    background: linear-gradient(to left, #D500B9 0%, #1668A3 100%);
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;

    @include breakpoint(tablet) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include breakpoint(mobile) {
      grid-template-columns: 1fr;
    }
  }

  &__content {
    grid-column: span 7;

    position: relative;
    z-index: 2;

    padding: 5.5rem 0 4rem;

    @include breakpoint(tablet) {
      grid-column: span 2;

      padding: 2.5rem 0 3rem;
    }

    @include breakpoint(mobile) {
      grid-column: span 1;
      padding: 2.5rem 0;
    }
  }

  &__tag {
    display: inline-block;
    margin-bottom: 2rem;
    padding: 0.5rem 1.6rem 0.3rem;

    background-color: $primary-300;

    @extend %fs-t1;
    font-weight: 700;
    text-transform: uppercase;

    @include breakpoint(mobile) {
      display: none;
    }
  }

  &__title {
    @extend %fs-h1;

    @include breakpoint(mobile) {
      max-width: 35rem;
    }
  }

  &__description {
    position: relative;
    margin-top: 4.5rem;
    max-width: 58rem;

    @extend %fs-h4;

    &::before {
      content: '';

      position: absolute;
      top: -2.5rem;
      left: 0;

      width: 6.5rem;
      height: 0.5rem;

      background-color: $secondary-300;
    }

    @include breakpoint(mobile) {
      max-width: 24rem;
      font-size: 1.6rem;
    }
  }

  &__buttons {
    margin-top: 4rem;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

    @include breakpoint(mobile) {
      flex-direction: column;
      align-items: stretch;
      flex-wrap: nowrap;
    }
  }

  &__label {
    display: inline-block;
    max-width: 15.8rem;

    @extend %fs-t1;
    font-style: italic;

    @include breakpoint(tablet) {
      max-width: unset;
    }

    @include breakpoint(mobile) {
      text-align: center;
    }
  }

  &__picture-block {
    grid-column: span 5;

    position: relative;
    z-index: 1;

    height: 100%;
    width: 100%;

    @include breakpoint(tablet) {
      grid-column: span 1;

      margin-top: 2rem;
      height: calc(100% - 4rem);
    }

    @include breakpoint(mobile) {
      position: absolute;
      top: 5rem;
      right: 0;

      width: 20rem;
    }
  }

  &__picture {
    width: 100%;
    height: 100%;

    object-fit: contain;

    @include breakpoint(tablet) {
      display: none;
    }

    &--mobile {
      display: none;

      @include breakpoint(tablet) {
        position: absolute;
        top: 0;
        right: 0;

        display: block;

        width: calc(100% + 4.8rem);
        max-width: unset;
      }

      @include breakpoint(mobile) {
        width: 100%;

        object-position: center top;
      }
    }
  }

  .breadcrumbs {
    margin-bottom: 3rem;
  }

  .button {
    padding: 2.2rem 3rem;
  }
}