<div class="breadcrumbs">
    <a class="breadcrumbs__link" href="#">Главная</a>
    <a class="breadcrumbs__link" href="#">Продукты</a>
    <a class="breadcrumbs__link" href="#">RDV Маркет</a>
    <a class="breadcrumbs__link" href="#">Wildberries</a>
</div>