<header class="header">
    <div class="container">
        <div style="display: flex; gap: 2rem; flex-wrap: wrap; margin: 2rem 0;">
            <button class="button" type="button" data-modal="#form1">Открыть модалку №1</button>
            <button class="button" type="button" data-modal="#form2">Открыть модалку №2</button>
        </div>
    </div>
</header>