.container {
    width: 100%;
    max-width: calc(var(--max-container-width) + 2 * var(--content-padding));
    margin: 0 auto;
    padding: 0 var(--content-padding);
    @supports (width: max(20vw, 100px)) {
        padding-left: max(env(safe-area-inset-left, 1.4rem), var(--content-padding));
        padding-right: max(env(safe-area-inset-right, 1.4rem), var(--content-padding));
    }

    &_wide {
        --max-container-width: 179rem;
        --content-padding: 6.5rem;
    }
}

.page-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.page-main {
    flex-grow: 1;
    padding-top: 15.5rem;

    @include breakpoint(laptop) {
        padding-top: 14.4rem;
    }

    @include breakpoint(small-mobile) {
        padding-top: 13.6rem;
    }
}

.default-margins {
    margin: var(--s-0) 0;

    @include breakpoint(mobile) {
        padding: 2.5rem 0;
    }
}

.text-content-wrapper {
    .remarks {
        margin-top: 4rem;

        @include breakpoint(tablet) {
            margin-top: 2rem;
        }
    }

    .buttons {
        margin-top: 6rem;

        @include breakpoint(tablet) {
            margin-top: 3rem;
        }

        .button {
            padding: 2.4rem 3rem;
            font-size: 1.4rem;
            min-width: 17.9rem;

            @include breakpoint(tablet) {
                font-size: 1.2rem;
                padding: 1.7rem 3rem;
                width: 100%;
            }
        }
    }
}

.top_button {
    box-shadow: 0 0 0 0 rgb(25 185 222 / 10%);
    transition: all .3s cubic-bezier(0.29, 0.03, 0.96, 0.35);
    border-radius: 50%;
    border: 1px solid white;
    background-color: transparent;
    outline: none;
    display: none;
    z-index: 50;
    position: fixed;
    bottom: 50px;
    left: 50px;
    background-image: url("../img/top_button.svg");
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;

    &:hover {
        box-shadow: 0 0 0 15px rgb(25 185 222 / 10%), inset 0 0 0 2px rgb(255 255 255 / 95%);
        border: 1px solid white;
    }
}