.button {
  align-items: center;
  justify-content: center;

  padding: 1.6rem 3rem;

  border-radius: 3.5rem;
  border: 0.1rem solid var(--primary-color);

  background-color: var(--primary-color);

  font-size: 1.2rem;
  line-height: 1;
  letter-spacing: 0.1rem;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  text-align: center;

  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: white;
    color: var(--primary-color);
  }

  &:focus {
    box-shadow: none;
  }

  &--secondary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--text-color);
  }
}